#OS junk files
[Tt]humbs.db
*.DS_Store

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
**/[Bb]in/Debug/
**/[Oo]bj/Debug/
**/[Bb]in/Release/
**/[Oo]bj/Release/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/